@page "/form/range"

<h3>Range</h3>

<BootstrapRange />

<ExampleContainer Title="States" Vertical>
    <ExampleItem Label="Disabled">
        <BootstrapRange Disabled Value="Disabled" />
    </ExampleItem>
</ExampleContainer>

<ExampleContainer Title="Ranges" Vertical>
    <ExampleItem Label="min: 0, max: 10">
        <BootstrapRange Min=0 Max=10 />
    </ExampleItem>
    <ExampleItem Label="min: 0, max: 10, step: 2">
        <BootstrapRange Min=0 Max=10 Step="2" />
    </ExampleItem>
</ExampleContainer>