@page "/display/card"

<h3>Card</h3>

<BootstrapCard ImageSrc="https://via.placeholder.com/1000x100?text=Card%20Image">
    <HeaderContent>Header</HeaderContent>
    <ChildContent>
        <BootstrapCardBody>Content</BootstrapCardBody>
    </ChildContent>
    <FooterContent>Footer</FooterContent>
</BootstrapCard>